snippet ent
`date +%Y/%m`/${1:`date +%d`} * ${2:trans}
	${4:acc_to}    €${5:value}
	${3:acc_from}
endsnippet

snippet lev
`date +%Y/%m`/${1:`date +%d`} * Levantamento €${2:}
	Assets:Cash:Carteira    €$2
	Assets:Bank:Conta Caderneta
endsnippet

snippet gas
`date +%Y/%m`/${1:`date +%d`} * Gasolina Mota
	Expenses:Transportes:Gasolina    €${2:}
	Assets:Bank:Conta Caderneta
endsnippet
